.idea
.pytest_cache
__pycache__
.aws-sam
venv
terraform_instructure/Makefile
dragons_api.drawio
terraform_instructure/.terraform
for_test.py
*.zip
terraform_instructure/lambda_outputs
lambda_layer
creds.txt